<link rel="stylesheet" href="/css/doodle.css">
<script defer src="/js/doodle.js"></script>

<div class="canvas-container">
    <p class="score-para">Score: <span class="score">0</span></p>
    <canvas id="root"></canvas>
</div>