<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js" type="module" defer></script>
<script>
    var env = {{{environment}}};
</script>

<canvas class="background-canvas"></canvas>

<div class="background-config">

    <div class="input-container">
        <span>Bubble Floatation</span>
        <input type="range" min="30" max="200" class="slider float-input">
    </div>

    <div class="input-container">
        <span>Bubble Inflation</span>
        <input type="range" min="50" max="500" class="slider inflate-input">
    </div>

    <div class="input-container">
        <span>Bubble Count</span>
        <input type="range" min="0" max="6" class="slider count-input">
    </div>

    <div class="input-container">
        <span>Bubble Opacity</span>
        <input type="range" min="1" max="100" class="slider opacity-input">
    </div>

    <button class="updating-button">FREEZE BUBBLES 🥶</button>
    <button class="animation-button">BUBBLES OFF ⏸</button>

    <div class="socials">
        <a href="https://www.facebook.com/ansis.plepsis" target="_blank" class="social-item">
            <img src="/images/facebook.png" class="social-image">
        </a>
        <a href="https://github.com/plepisnew" target="_blank" class="social-item">
            <img src="/images/github.png" class="social-image">
        </a>
        <a href="https://www.linkedin.com/in/ansis-plepis-597a84164/" target="_blank" class="social-item">
            <img src="/images/linkedin.png" class="social-image">
        </a>
    </div>
   
    <div class="expand-config">
        <img class="hamburger" src="/images/hamburger.png">
    </div>
</div>

<div class="chatbox">
    <div class="expand-content">
        <p>Open Chat</p>
    </div>
    <div class="content-scrollbar">
        <div class="content-container"></div>
    </div>
    <div class="chat-input-container">
        <input type="text" class="chat-input">
        <button class="chat-submit">Submit</button>
    </div>
</div>

<div class="welcome-container">
    <p class="welcome-text"></p>
</div>