<link rel="stylesheet" href="/css/rubiks.css">
<script src="/js/rubiks.js" type="module" defer></script>
<canvas id="bg"></canvas>

<div class="config-bar">
    
    <div class="config-item">
        <p class="config-title">Camera Configuration 📷</p>
        <div class="input-container">
            <span>Camera X Position:</span><input class="camera-x-input number-input" type="number"><span>units</span>
        </div>

        <div class="input-container">
            <span>Camera Y Position:</span><input class="camera-y-input number-input" type="number"><span>units</span>
        </div>
        <div class="input-container">
            <span>Camera Z Position:</span><input class="camera-z-input number-input" type="number"><span>units</span>
        </div>
        <div class="input-container">
            <span>Movement Step:</span><input class="camera-step-input number-input" type="number"><span>units</span>
        </div>

        <div class="info-dialog">
            <p>💡 To move the camera around, you can also hold X, Y, Z on your keyboard and simultaneously use the scrolling wheel to move along the respective axis/axes.</p>
        </div>
    </div>

</div>