<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/tetris.css">
    <script src="/js/tetris.js" defer></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="left-panel">
        <p>Panel for selecting game-mode and other configuration</p>
        <p>See more <a href="https://github.com/plepisnew/learn-js/milestone/1">here</a></p>
    </div>
    
    <div class="middle-panel">

        <div class="score-panel">
            <p class="score">Score: <span class="score-number">0</span></p>
        </div>

        <div class="game-panel">
            <div class="held-piece-panel">
                <canvas class="held-canvas"></canvas>
                <p class="held-text">HELD PIECE</p>
                
                <div class="control-config">
                    <div class="control">
                        <span class="control-span">LEFT</span>
                        <input type="text" class="left-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">RIGHT</span><input type="text" class="right-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">DOWN</span>
                        <input type="text" class="down-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">ROTATE</span>
                        <input type="text" class="rotate-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">DROP</span>
                        <input type="text" class="drop-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">HOLD</span>
                        <input type="text" class="hold-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">RESTART</span>
                        <input type="text" class="restart-input control-input">
                    </div>
                    <div class="control">
                        <span class="control-span">PAUSE</span>
                        <input type="text" class="pause-input control-input">
                    </div>
                    
                </div>
            <p class="controls-text">CONTROLS</p>
            </div>
            
            <div class="tetris-panel">
                <div class="pause">
                    <p class="pause-text">3</p>
                    <p class="restart-text">(R - RESTART, T - RESUME)</p>
                </div>
                <canvas class="tetris-canvas">
            
                </canvas>
            </div>
            
            <div class="next-piece-panel">
                <canvas class="next-canvas"></canvas>
                <p class="next-text">NEXT PIECE</p>
            </div>
        </div>
        
    </div>
    <div class="right-panel">
        <div class="configurable-header">
            <p class="configurable-title">What? Configurable Variables</p>
            <p class="configurable-title">Why? Because it makes testing easier :)</p>
            <p class="configurable-title">How? You'll figure it out broski</p>
        </div>
        <div class="configurables-scrollbar">
            <div class="configurables">
            </div>
        </div>
        <div class="configurable-footer">
            <button class="restore-defaults">Restore Defaults</button>
            <button class="save-changes">Save Changes</button>
        </div>
        
    </div>
</body>
</html>