/* * {
    padding: 0;
    margin: 0;
} */

.navigation-bar {
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    /* overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}

.navigation-bar::-webkit-scrollbar {
    display: none;
}

.navigation-title {
    color: white;
    font-family: 'Poppins';
    margin: 10px;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.project-icon {
    width: 50px;
    margin: 5px;
}

.vertical {
    border-right: 1px solid rgb(50, 50, 50);
    height: 52px;
    width: 1px;
}

.project-container {
    position: relative;
}

.project-container::after,
.project-container::before {
    --scale: 0;
    --tooltip-color: black;
    --arrow-size: 8px;
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: top center;
}

.project-container::before {
    --translate-y: calc(100% + var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    width: max-content;
    /* max-width: 100%; */
    /* text-align: center; */
    font-family: 'Poppins';
    font-size: 15px;
    background: var(--tooltip-color);
    border-radius: .3rem;
}

.project-container:hover::before,
.project-container:hover::after {
    --scale: 1;
}

.project-container:after {
    --translate-y: calc(var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-bottom-color: var(--tooltip-color);
    transform-origin: bottom center;
}
/* [data-tooltip] */