.fetched-clips {
    height: 50%;
    width: 100%;
}

.scroll-bg {
    /* background: white; */
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-bg::-webkit-scrollbar {
    display: none;
}

.scroll {
    padding: 10px;
}

.scroll-page {
    background-color: rgb(13, 71, 161);
    color: white;
    font-family: Rubik;
    border: none;
    /* border-radius: 3px; */
    padding: 5px 20px 5px 20px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.7);
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 5px;
    transition: opacity 0.5s;
    /* margin-left: 10px;
    margin-right: 10px; */
}

#move-left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#move-right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#move-left:hover {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    opacity: 0.85;
}

#move-right:hover {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0.85;
}

.scroll-page:active {
    /* box-shadow: none; */
}

.page-mover {
    background: rgb(30, 136, 229);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-filter {
    margin-right: 30px;
    margin: 0;
    padding-top: 0px;
}

.hide {
    display: none !important;
}

.title-filter {
    margin-right: 10px;
    margin-left: 4px;
    height: 20px;
    padding-top: 3px;
}

.clip-scroller {
    height: 100%;
}

.buttons {
    right: 0;
    width: 10%;
}

/* 
.toggle-edit {
    font-family: Rubik;
    
} */

.edit-panel {
    height: 40%;
    /* width: 80%; */
    width: 100%;
    margin-left: 10px;
    display: inline-block;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}

.selected-videos {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    display: inline-block;
}

.selected-videos::-webkit-scrollbar {
    display: none;
}

.divider {
    width: 100%;
    /* height: 5%; */
    background: rgb(30, 136, 229);
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.stringed-clips {
    font-size: 14px;
    width: 100%;
}

.buttons {
    display: inline-block;
    vertical-align: top;
}

.download {
    margin-left: 5px;
    margin-top: 10px;
    font-family: Rubik;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    background-color: rgb(57, 73, 171);
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
    transition: opacity 0.4s;
    width: 120px;
}

.download:hover {
    opacity: 0.8;
}

.download:active {
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.6);
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
}

.icon-image {
    border-radius: 17px;
    box-shadow: 2px 2px 4px rgba(20, 20, 20, 0.5);
    height: 60px;

}

.github-image {
    width: 60px;
}

html,
body {
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

.left-panel,
.right-panel {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
}

.left-panel {
    background-image: linear-gradient(rgb(25, 118, 210), rgb(33, 150, 243));
    left: 0;
}

.right-panel {
    background-image: linear-gradient(rgb(33, 150, 243), rgb(25, 118, 210));
    right: 0;
}

.left-panel,
.right-panel,
.fetched-clips {
    border: 1px solid rgb(13, 71, 161);
}

.fetched-clips {
    border-left: none;
}

.about,
.usage {
    font-family: Rubik;
    color: white;
    font-size: 18px;
}

.about-container,
.usage-container {
    margin-bottom: 10px;
    margin-left: 20px;
}

.emph {
    font-size: 20px;
    font-weight: 500;
}

.about-container {
    display: inline-block;
}

.tooltip {
    position: fixed;
    background: linear-gradient(rgb(33, 150, 243), rgb(25, 118, 210));
    /* background: blue; */
    right: 450px;
    top: 150px;
    padding-left: 40px;
    padding-right: 40px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 70px;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: right 0.8s;
}

.tooltip:hover {
    right: 750px;
}

.twitch-id,
.twitch-token,
.youtube-id,
.youtube-token {
    /* margin-top: 3px; */
    width: 120px;
    display: inline-block;
    font-size: 13px;
}

.user-container {}

.user-input {
    font-family: Rubik;
    font-size: 18px;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(57, 73, 171);
    background-color: rgb(179, 229, 252);
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 170px;
    color: rgb(74, 20, 140);
    transition: background-color 0.5s;
}

.user-input:hover {
    background-color: rgb(225, 245, 254);
}

.input-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px
}

.search-button {
    font-family: Rubik;
    border-radius: 2px;
    font-size: 18px;
    border: none;
    background-color: rgb(57, 73, 171);
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
    transition: opacity 0.4s;
}

.search-button:hover {
    opacity: 0.8;
}

.search-button:active {
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.6);
}

.game-selection {
    display: inline-block;
    margin-left: 12px;
    width: 70%;
}

.channel-selection {
    display: inline-block;
    width: 25%;
}

.game-grid {
    grid-template-columns: 100px, 100px;
}

.clickable-game {
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s;
    transition: border-radius 0.5s;
}

.clickable-game:active {
    box-shadow: none;
}

.clickable-game:hover {
    border-radius: 18px;
    opacity: 1;
}

.popular-games,
.popular-channels {
    font-family: Rubik;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.popular-games {
    grid-column-start: 6;
}

.popular-channels {
    grid-column-start: 13;
}

.popular-paragraphs {
    display: grid;
    grid-template-columns: repeat(10px)
}

.clickable-channel {
    width: 78px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    transition: border-radius 0.5s;
    transition: opacity 0.5s;
    margin-left: 10px;
    transition: border-radius 0.8s;
}

.clickable-channel:hover {
    opacity: 1;
    border-radius: 50px;
}

.clickable-channel:active {
    box-shadow: none;
}