#bg {

    background: white;
}

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Poppins';
}

body {
    overflow: hidden;
}

.config-bar{
    position: fixed;
    background: rgb(50, 50, 50);
    height: 100%;
    width: 20%;
    top: 60px;
    left: 0;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: white;
    overflow-y: scroll;
    overflow-x: scroll;
}

.config-bar::-webkit-scrollbar {
    display: none;
}

.config-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.number-input {
    width: 20%;
    padding: 0;
    font-family: 'Poppins';
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 14px; */
    margin: 3px;
}

.config-title {
    font-weight: 600;
    margin: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.config-item {
    margin-bottom: 10px;
}

.submit-input {
    margin: 5px;
    border: none;
    background: rgb(80, 80, 80);
    color: white;
    font-family: 'Poppins';
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    flex: 1;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.submit-input:active {
    box-shadow: none;

}

.info-dialog {
    background: rgb(80, 80, 80);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
}

.expand-dialog {
    padding: 5px;
    cursor: pointer;
    background: rgb(65, 65, 65);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.expand-dialog:hover + .dialog-content{
    height: 100px;
}

.dialog-content {
    margin: 5px;
    height: 0;
    overflow: hidden;
    height: 0;
    transition: height 0.9s;
}

.algorithm-container {
    position: absolute;
    top: 70px;
    right: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: white;
    align-items: center;
    font-weight: 500;
}

.algorithm-input-container {
    display: flex;
    flex-direction: row;
}

.atomic-move,
.long-move {
    font-family: 'Poppins';
    font-size: 18px;
    outline: none;
    color: white;
    margin: 5px;
    border: none;
    background: none;
    border-bottom: 1px solid white;
}

.switch {
    flex: 1;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-green {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9BD770;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-green:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-green {
    background-color: #66B032;
}

input:focus+.slider-green {
    box-shadow: 0 0 1px #66B032;
}

input:checked+.slider-green:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider-green.round {
    border-radius: 34px;
}

.slider-green.round:before {
    border-radius: 50%;
}

.config-switch {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: center;
}
