#bg {

    background: white;
}

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Poppins';
}

body {
    overflow: hidden;
}

.config-bar{
    position: fixed;
    background: rgb(50, 50, 50);
    height: 100%;
    width: 20%;
    top: 60px;
    left: 0;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: white;
    overflow-y: scroll;
}

.config-bar::-webkit-scrollbar {
    display: none;
}

.config-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.number-input {
    width: 20%;
    padding: 0;
    font-family: 'Poppins';
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* font-size: 14px; */
    margin: 3px;
}

.config-title {
    font-weight: 600;
    margin: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.config-item {
    margin-bottom: 10px;
}

.submit-input {
    margin: 5px;
    border: none;
    background: rgb(80, 80, 80);
    color: white;
    font-family: 'Poppins';
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    flex: 1;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.submit-input:active {
    box-shadow: none;

}

.info-dialog {
    background: rgb(80, 80, 80);
    border-radius: 5px;
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
}

.expand-dialog {
    padding: 5px;
    cursor: pointer;
    background: rgb(65, 65, 65);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.expand-dialog:hover + .dialog-content{
    height: 100px;
}

.dialog-content {
    margin: 5px;
    height: 0;
    overflow: hidden;
    height: 0;
    transition: height 0.9s;
}

.algorithm-container {
    position: absolute;
    top: 70px;
    right: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: white;
    align-items: center;
    font-weight: 500;
}

.algorithm-input-container {
    display: flex;
    flex-direction: row;
}

.atomic-move,
.long-move {
    font-family: 'Poppins';
    font-size: 18px;
    outline: none;
    color: white;
    margin: 5px;
    border: none;
    background: none;
    border-bottom: 1px solid white;
}