html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin-top: 50px;
    overflow: hidden;
}

.tetris-elements {
    width: 100%;
    height: 100%;
    display: flex;
}

.tetris-left,
.tetris-middle,
.tetris-right {
    height: 100%;
}

.tetris-left {
    background: lightblue;
    flex: 1;
}

.tetris-middle {
    background: lightpink;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris-right {
    background: lightblue;
    flex: 1;
}

.tetris-board {
    overflow: hidden;
    border: 1px solid black;
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(20, 32px);
}

.tetris-cell {
    border-bottom: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    background-color: rgb(240, 240, 240);
}

.filled-cell {
    box-sizing: border-box;
    border: 1px solid black;
    color: white;
}